.light-theme{
    --background-color: #fff;
    --first-color: #9773ff;
    --second-color: #ffab73;
    --text-color: #242424;
}

.dark-theme{
    --background-color: #242424;
    --first-color: #9773ff;
    --second-color: #beff73;
    --text-color: #fff;
}


body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    /* color: var(--text-color); */
    background-color: var(--background-color);
}


*,
*::before,
*::after{
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
}


.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* заголовок */
.header{
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--first-color);
}



/* навигация */
.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
    color: var(--first-color);
    text-decoration: none;

    transition: color .2s linear;
}

.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: var(--second-color);
    
    /* opacity: 0; */

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    /* transition opacity: .2s linear; */
}

.nav_link:hover{
    color: var(--second-color);
}

.nav_link:hover:after{
    display: block;
    /* opacity: 1; */

}



/* интро */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}


.intro_suptitle{
    margin-bottom: 20px;
    
    font-size: 72px;
    color: var(--first-color);
    text-align: center;
    line-height: 1;
}


.intro_title{
    color: var(--first-color);    
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}


/* текст в intro */
.intro_text{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.intro_text_inner{
    display: flex;
    justify-content: space-between;
}

.intro_text_item{
    text-align: center;
}


/* .intro2{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    justify-content: center;
}

.intro2_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro2_text{
    margin: 60 px auto 0;
    text-align: center;
    
} */


/* Секция */
.section{
    padding: 80px 0;
}

.section_header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section_title{
    font-size: 30px;
    font-weight: 700;
    color: var(--first-color);
}

.section_text{
    font-size: 15px;
}

/* картинки с мясом */
.meat{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.meat_item{
    width: 380px;
    position: relative;

    background-color: var(--first-color);
}

.meat_item:hover .meat_img{
    transform: translate3d(-10px, -10px, 0);
}

.meat_item:hover .meat_img img{
    opacity: .1;
}

.meat_item:hover .meat_text{
    opacity: 1;
}

.meat_img{
    background: linear-gradient(to bottom, var(--first-color), var(--second-color));
    transition: tramsform .2s linear;
}


.meat_img img{
    display: block;
    transition: opacity .1s linear;
}

.meat_text{
    width: 100%;

    font-size: 18px;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}
.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--first-color);
    text-align: center;
    border-radius: 24px;
    
}

.box_title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.box_input{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--second-color);
    padding: 14px, 10px;
    width: 200px;
    height: 40px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: .25s;
}

.box_input:focus{
    width: 280px;
    background-color: var(--second-color);
    color: #242424;
}

.box_button{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--second-color);
    padding: 14px, 40px;
    width: 100px;
    height: 40px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: .25s;
    cursor: pointer;
}

.box_button:hover{
    background-color: var(--second-color);
    color: #242424;
}


.box_link{
    display: inline-block;
    color: #fff;
    transition: color .2s linear;
    text-decoration: none;
    
}

.box_link:hover{
    color: var(--second-color);
}

/* {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
    color: var(--first-color);
    text-decoration: none;

    transition: color .2s linear;
}*/

.box_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: var(--second-color);
    display: none;}
    /* opacity: 0; */

    /* position: absolute;
    top: 100%;
    left: 0;
    z-index: 1; */ 

    /* transition opacity: .2s linear; */
/* }

.box_link:hover{
    color: var(--background-color);
}*/

.box_link:hover:after{
    display: block;
    /* opacity: 1; */

 } 


 main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* кружочек */
.circle{
    position: absolute;
    z-index: 1;
    
    border-radius: 50%;
    background: var(--second-color);
    box-shadow: 0px 4px 70px 6px rgba(217, 299, 255, 0.25);

    animation-name: fadeCircle;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* появление круга */
@keyframes fadeCircle {
    0%{
        width: 2534px;
        height: 2543px;
    }    
    25%{
        width: 2000px;
        height: 2000px;
    }  
    50%{
        width: 1500px;
        height: 1500px;
    }  
    75%{
        width: 1000px;
        height: 1000px;
    }  
    100%{
        width: 534px;
        height: 543px;
    }  
}

/* контенер */
.reg_container{
    opacity: 0;
    position: relative;
    z-index: 2;
    max-width: 415px;
    width: 100%;
    background-color: #9773ff;
    border-radius: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;

    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* появление */
@keyframes fadeForm {
    0%{
        opacity: 0;
    }    
    25%{
        opacity: .25;
    }  
    50%{
        opacity: .5;
    }  
    75%{
        opacity: .75;
    }  
    100%{
        opacity: 1;
    }  
}

/* заголовок */
.reg_title{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;

}

/* .reg_fields{

} */

/* поле */
.field{
    margin-bottom: 13px;
}

/* ввод */
.reg_field_input{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--second-color);
    padding: 14px, 10px;
    width: 325px;
    height: 45px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: .25s;
}

/* ввод в фокусе */
.reg_field_input:focus{
    width: 100%;
    background-color: var(--second-color);
    color: #242424;
}

/* .reg_buttons{

} */


/* кнопка */
.butt{
    background: none;
    display: block;
    margin: 20px auto;
    height: 45px;
    width: 325px;
    border: 2px solid var(--second-color);
    color: #fff;
    border-radius: 24px;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    transition: .25s;
    cursor: pointer;
}

/* наведение на кнопку */
.butt:hover{
    text-decoration: none;
    background-color: var(--second-color);
    color: #242424;
}

/* кнопка регистрации через гугл */
.butt_google{
    background: #bfa1ff;
    display: block;
    height: 45px;
    width: 100%;
    border: 2px solid var(--second-color);
    color: #fff;
    border-radius: 24px;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    transition: .25s;
    cursor: pointer;
    text-decoration: none;
}

/* наведение на кнопку */
.butt_google:hover{
    text-decoration: none;
    background-color: var(--second-color);
    color: #242424;
}

/* пространство между кнопками */
.divider{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

