.light-theme{
    --background-color: #fff;
    --first-color: #9773ff;
    --second-color: #ffab73;
    --text-color: #242424;
}

.dark-theme{
    --background-color: #242424;
    --first-color: #9773ff;
    --second-color: #beff73;
    --text-color: #fff;
}


body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    /* color: var(--text-color); */
    background-color: var(--background-color);
}


*,
*::before,
*::after{
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
}


.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* заголовок */
.header{
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    font-size: 30px;
    font-weight: 700;
    color: var(--first-color);
}



/* навигация */
.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
    color: var(--first-color);
    text-decoration: none;

    transition: color .2s linear;
}

.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: var(--second-color);
    
    /* opacity: 0; */

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    /* transition opacity: .2s linear; */
}

.nav_link:hover{
    color: var(--second-color);
}

.nav_link:hover:after{
    display: block;
    /* opacity: 1; */

}



/* интро */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}


.intro_suptitle{
    margin-bottom: 20px;
    
    font-size: 72px;
    color: var(--first-color);
    text-align: center;
    line-height: 1;
}


.intro_title{
    color: var(--first-color);    
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}


/* текст в intro */
.intro_text{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.intro_text_inner{
    display: flex;
    justify-content: space-between;
}

.intro_text_item{
    text-align: center;
}


/* .intro2{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    justify-content: center;
}

.intro2_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro2_text{
    margin: 60 px auto 0;
    text-align: center;
    
} */


/* Секция */
.section{
    padding: 80px 0;
}

.section_header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section_title{
    font-size: 30px;
    font-weight: 700;
    color: var(--first-color);
}

.section_text{
    font-size: 15px;
}

/* картинки с мясом */
.meat{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.meat_item{
    width: 380px;
    position: relative;

    background-color: var(--first-color);
}

.meat_item:hover .meat_img{
    transform: translate3d(-10px, -10px, 0);
}

.meat_item:hover .meat_img img{
    opacity: .1;
}

.meat_item:hover .meat_text{
    opacity: 1;
}

.meat_img{
    background: linear-gradient(to bottom, var(--first-color), var(--second-color));
    transition: tramsform .2s linear;
}


.meat_img img{
    display: block;
    transition: opacity .1s linear;
}

.meat_text{
    width: 100%;

    font-size: 18px;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

